@import "normalize.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #2e2e3a;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.main {
  max-width: 1000px;
  margin: 70px auto 0 auto;

  &__heading {
    font-size: 44px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 150px;
  }
}

.error-message {
  width: 100%;
  max-width: 500px;
  align-self: center;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  background-color: red;
  margin: 0 auto;
  opacity: 0;
}

.sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 30px 0;

  &__input,
  &__output {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    font-size: 14px;
    border-radius: 16px;
    padding: 16px;
    align-self: center;
  }

  &__btn {
    height: 50px;
    min-width: 120px;
    border-radius: 20px;
    background: coral;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    transition: 0.5s background-color;

    &:hover {
      background-color: rgb(236, 63, 0);
      cursor: pointer;
    }
    &:active {
      background-color: #c11d00;
    }
  }

  &__btn:focus,
  &__input:focus,
  &__output:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #7dadd9;
  }

  &__radio {
    display: block;
    margin-top: 20px;
    cursor: pointer;

    & > input {
      margin-right: 5px;
    }
  }
}

.btn-wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0 30px 0;
}

.btn-radio-wrapper {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1000px;

    &__heading {
      font-size: 48px;
    }
  }

  .sort {
    flex-direction: row;

    &__error-message {
    }

    &__input,
    &__output {
      width: 400px;
      min-height: 250px;
      font-size: 16px;
    }
  }
}
